<div class="container">
  <h3 class="title"><%= t "products.hot_trend_products" %></h3>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "hot_trend_product",
        collection: @hot_trend_products %>
    </div>
  </div>
  <h3 class="title"><%= t ".all_products" %></h3>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "list_products", collection: @list_products, as: :product %>
    </div>
  </div>
  <div class="paginate">
    <%= paginate @list_products %>
  </div>
</div>
