<% provide :title, t("category.manager_category") %>
<h1><%= t "category.manage_category" %></h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= t "no" %></th>
      <th><%= t "category.category_name" %></th>
      <th><%= t "category.quanlity_product"%></th>
      <th><%= t "edit" %></th>
      <th><%= t "delete" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "admin/categories/category", collection: @categories %>
    <tr>
      <td colspan="4"><div class="text-center"><%= link_to t("category.add_new_category"),
        new_admin_category_path, class: "col-md-6 col-md-offset-3 btn btn-success"%></div></td>
    </tr>
  </tbody>
  <div class="paginate">
    <%= paginate @categories %>
  </div>
</table>
