<div class="row">

</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= image_tag @product.image.url,
      id: "resize_img_product",
      class: "img-responsive img-thumbnail" if @product.image? %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h3 id="product-title"><%= @product.name %></h3>
    <hr>
    <h4><b><%= t "products.description" %></b></h4>
    <p><%= @product.description %></p>
    <h4>
      <b>
        <%= t "products.quantity" %>: <%= @product.quantity %>
      </b>
    </h4>
    <h4>
      <b>
        <%= t "products.price" %>: <%= @product.price %>
        <%= t "products.vnd" %>
      </b>
    </h4>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default btn-success">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;
        <%= link_to t("edit"), edit_admin_product_path(@product),
          class: "white-text" %>
      </button>
      <button type="button" class="btn btn-default btn-danger">
        <span class="glyphicon glyphicon-trash"></span>&nbsp;
        <%= link_to t("delete"), admin_product_path(@product),
          method: :delete, class: "white-text",
          data: {confirm: t("sure?")} %>
      </button>
    </div>
  </div>
</div>
