<% provide :title, t("users.users") %>
<h1><%= t "users.users" %></h1>
<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= t "no"%></th>
          <th><%= t "name" %></th>
          <th><%= t "email" %></th>
          <th><%= t "operation" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "admin/users/user", collection: @users %>
      </tbody>
    </table>
  </div>
  </br>
  <%= link_to t("users.new_user"), new_user_path %>
</div>
<div class="paginate">
  <%= paginate @users %>
</div>
