<div class="container">
  <footer class="footer">
    <div class="col-lg-12">
      <small>
        <%= t "author.the" %> <a href="#"><%= t("static_pages.title") %></a>
        <%= t "author.by" %> <a href="#"><%= t("static_pages.author") %></a>
      </small>
      <nav>
        <ul>
          <li><%= link_to t("static_pages.about"), "/about" %></li>
          <li><%= link_to t("static_pages.help"), "/help" %></li>
        </ul>
      </nav>
    </div>
  </footer>
</div>

