<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to t("static_pages.home"), root_path %>
        </li>
        <li>
          <%= link_to t("product"), products_path %>
        </li>
        <li>
          <%= link_to t("suggest"), new_suggest_path %>
        </li>
        <li>
          <%= link_to t("static_pages.help"), "/static_pages/help" %>
        </li>
        <li>
          <%= link_to t("static_pages.about"), "/static_pages/about" %>
        </li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <%= link_to "#",
              class: "dropdown-toggle glyphicon",
              data: {toggle: "dropdown"} do %>
              <%= current_user.name%><b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to t("profile"), current_user %></li>
              <li>
                <%= link_to t("log_out"), destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
          <% if current_user.is_admin? %>
            <li class="dropdown">
              <%= link_to "#",
                class: "dropdown-toggle glyphicon glyphicon-dashboard",
                data: {toggle: "dropdown"} do %>
                <%= t "dashboard" %><b class="caret"></b>
              <% end %>
              <ul class="dropdown-menu">
                <li><%= link_to t("user_management"), admin_users_path,
                  class: "glyphicon glyphicon-user" %></li>
              </ul>
            </li>
          <% end %>
        <% else %>
          <li class="dropdown">
          <%= link_to "#",
            class: "dropdown-toggle glyphicon glyphicon-dashboard",
            data: {toggle: "dropdown"} do %>
              <%= t "log_in" %><b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to t("log_in"), login_path %></li>
              <li><%= link_to t("sign_in_with_facebook"),
                user_facebook_omniauth_authorize_path %></li>
              <li><%= link_to t(".sign_in_with_google"),
                user_google_oauth2_omniauth_authorize_path %></li>
              <li><%= link_to t(".sign_in_with_twitter"),
                user_twitter_omniauth_authorize_path %></li>
            </ul>
          </li>
        <% end %>
        <li class="nav">
          <%= link_to carts_path, class: "fa fa-cart-arrow-down" do %>
            <%= t("cart") %>
            (<%= session[:cart].present? ? session[:cart].size : 0 %>)
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
